
<!DOCTYPE html>
<html>
<head>
{% load staticfiles %}
<script src= "{% static 'hello/jquery-1.11.3.min.js' %}"></script>
<script src= "{% static 'hello/jquery.auderoSmokeEffect.js' %}"></script>
<script src= "{% static 'hello/smoke.js' %}"></script>
<link rel="stylesheet" type="text/css" href="{% static 'hello/css/screen.css' %}" />

<script>
var gp = "{% static 'hello/cloud.png' %}";
/*jQuery(document).ready(function(){
	alert(gp);
	
})*/
	
</script>
<title>Hey Joe</title>
</head>
<body>
	<ul>
	{% for digit in digits%}
		<li>{{digit}}</li>
	{% endfor %}	
	</ul>
	
	<img id= "dodgeball" src="{% static 'hello/dodgeball.jpg' %}" alt="Sorry">
</body>
</html>